.like{
    min-height: 500px;
    }
    .like__card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-shadow: 5px 0 10px 5px #0002;
    width: 900px;
    height: 150px;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 50px;
    }
    .two__title{
        width: 250px;
        font-weight: 600;
    }
    .two{
        flex-direction: column;
    }
    .two__container{
        width: 150px;
        flex-direction: column;
    }
    .like__imgs{
    width: 100px;
    height: 100px;
    }
    .like__btn{
    display: flex;
    flex-direction: column;

    }
    .like__btn2{
    padding: 7px 40px;
    border-radius: 10px;
    background: dodgerblue;
    border: none;
    color: #fff;
    margin-top: -5px;
    cursor: pointer;
    }
    .like__btn3{
    padding: 7px 40px;
    border-radius: 10px;
    background: orangered;
    border: none;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    }

    @media screen and ( max-width:953px ){
    
        .like__card{
            width: 800px;
        }
     
    
    
    }
    @media screen and ( max-width:823px ){
    
        .like__card{
            width: 600px;
        }
        .two__title{
            margin-top: -50px;
        }
        .two__container{
            margin-top: 40px;
            transform: translateX(-280px);
        }
        .like__btn{
            margin-left: -150px;
        }
    
    
    }
    @media screen and ( max-width:622px ){
        .like__card{
            width: 350px;
        }
        .two__title{
            transform: translateX(-25px);
            display: none;
        }
        .like__imgs{
            transform: translateX(-80px);
        }
        .like__btn{
            transform: translateX(50px);

        }
        .two__container{
            display: none;
        }
    }
