.hommain{
    line-height: 1.4;
    background: #fff;
}
.hommain p{
    margin-top: 20px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.553);
    
}
h1{
    font-weight: 400;
    margin-top: 20px;
    font-size: 28px;
}
.hmain__pp{
  color: red;
  text-decoration: underline;  
  margin-top: 10px;
}
.hmain__pp:hover{
    text-decoration: none;
    cursor: pointer;
}